<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="space-top">
                <h3>TRUSTED MOBILE APP DEVELOPERS IN THE NETHERLANDS!</h3>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="https://cdn.shortpixel.ai/client/to_avif,q_lossy,ret_img/https://pktapps.com/wp-content/uploads/2019/06/tt-1.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>